*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    border: 4px solid red;
}
header{
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
        .logo{
             display: flex;
             align-items: center;
             gap: 4px;
             color: #58A9A5;
             font-weight: 800;
             font-size: 35px;
             line-height:100%;
              &:hover{
              color: #404242;
             } 
        }
        .header-list{
            display: flex;
             align-items: center;
             gap:45px; 
             .header-item{
                a{
                     font-weight: 400;
                     font-size: 25px;
                     line-height:100%;
                     color: #404242;
                      &:hover{
                      color: #58A9A5;
                     } 
                }
             }
        }
        .header-btn{
            padding: 21px 80px;
            background: #58A9A5;
            border: 1px solid #58A9A5;
            border-radius: 15px;
            font-weight: 500;
            font-size: 25px;
            line-height:100%;
            color: #FFFFFF;
            transition: all 0.5s ease-in-out;
             &:hover{
                    background: none;
                    border: 1px solid #58A9A5;
                    color: #58A9A5;
                    transform: scale(1.1px);
                    box-shadow: 10px 10px 10px 2px #3c2105;
                    transform: scale(1.1);
                }
        }
    }
    .header-hero{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        padding: 80px 0;
        .hero-left{
            width: 50%;
            h2{
               width: 674px; 
               font-weight: 800;
               font-size: 70px;
               line-height:100%;
               color: #1C2323;  
               margin-bottom: 30px;
            }
            p{
               width: 713px; 
               font-weight: 500;
               font-size: 30px;
               line-height:100%;
               color: #404242;  
               margin-bottom: 40px;
            }
             .button{
                padding: 12px 60px;
                font-weight: 700;
                font-size: 22px;
                border: 1px solid #58A9A5;
                background:#58A9A5;
                box-shadow: 0 0 5px #000;
                color: #fff;
                outline: none;
                cursor: progress;
                  &:hover{
                   background: none;
                   border: 1px solid #58A9A5;
                   color: #58A9A5;
               }
             }
        }
        .hero-right{
            width: 50%;
            height: 400px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .hero-bck{
                max-width: 75%;
                position: absolute;
                z-index: 1;

            }
            .hero-rasm{
                max-width: 60%;
                position: absolute;
                z-index: 2;

            }
        }
    }
}
.section_one{
    .section_one-wrapper{
        padding: 60px 0;
        .one-tetle{
            max-width: 560px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 50px;
             h2{
               font-weight: 800;
               font-size: 70px;
               line-height:100%;
               color: #1C2323;  
               margin-bottom: 20px;
            }
            p{
               font-weight: 500;
               font-size: 30px;
               line-height:100%;
               color: #404242;  

            }
        }
        .one-wrapper{
            display: flex;
            align-items: stretch;
    
          .one-left{
           max-width:65%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                overflow: hidden;
            }
          }
          .one-right{
            max-width: 35%;
            height: auto;
            padding: 30px 0;
            position: relative;
            flex: 1;
            background: #CCF0E6;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
             display: flex;
             align-items: center;
             flex-direction: column;
             justify-content: center;
              p{
               max-width: 328px;
               font-weight: 500;
               font-size: 20px;
               line-height:100%;
               color: #486958;
               margin-bottom: 27px;  

            }
            .one-play{
                 display: flex;
                 align-items: center;
                 gap: 51px;
                 position: absolute;
                 bottom:30px ;
                 left: -40px;
                 z-index: 4;
                
                .icon{
                    width: 70px;
                    height: 70px;
                    border-radius: 50px;
                    background: rgba(255, 255, 255, 0.4);
                    backdrop-filter: blur(5px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 30px;
                    box-shadow: 0 8px 25px  rgba(0, 0, 0, 0.2);
                     transition: 0.3 ease;
                     cursor: pointer;
                    &:hover{
                        background: #fff;
                        transform: scale(1.1);
                         box-shadow: 0 15px 30px  rgba(0, 0, 0, 0.15);
                    }
                }
                   h3{
                    font-weight: 500;
                    font-size: 20px;
                    line-height:100%;
                    color: #486958;
                    }
                 }
          }
        }
        
    }
}
.section_two{
    .section_two-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 0;
    }
}







@media(max-width:1110px){
    header{
        .header-hero{
            transform: translate(50px);
            .hero-left{
                width: 50%;
            }
            .hero-right{
                width: 50%;
            }

        }
    }
}
@media(max-width:1060px){
  header{
        .header-hero{
            transform: translate(50px);
            .hero-left{
                width: 50%;
                h2{
                    width: 660px;
                }
                p{
                    width: 700px;
                }
            }
            .hero-right{
                width: 50%;
                .hero-bck{
                    width: 90%;
                }
            }

        }
    }
    .section_one{
        .section_one-wrapper{
            .one-wrapper{
                .one-right{
                    .one-play{
                        bottom: 10px;
                    }
                }
            }
        }
    }
}
@media(max-width:990px){
   header{
    .header-container{
        .header-list{
            gap: 20px;
        }
        .header-btn{
            padding: 18px 40px;
        }
    }
        .header-hero{
            padding: 30px 0;
             height: auto;
             display: flex;
             flex-direction: column-reverse;
             transform:translate(0 , 0px);
              .hero-left{
                width: 100%;
                margin-top: -40px;
                h2{
                    width: 100%;
                }
                p{
                    width: 100%;
                }
            }
            .hero-right{
                width: 70%;
                margin: 0 auto;

                .hero-bck{
                    width: 90%;
                }
            }

        }
    }
}
@media(max-width:860px){
 header{
    .header-container{
        .header-list{
            display: none;
        }
        .header-btn{
            padding: 18px 40px;
        }
    }
        .header-hero{
            padding: 20px 0;
             height: auto;
             display: flex;
             flex-direction: column-reverse;
             transform:translate(0 , 0px);
              .hero-left{
                width: 100%;
                margin-top: -70px;
                h2{
                    width: 100%;
                    font-size: 58px;
                    line-height: 60px;
                }
                p{
                    width: 100%;
                }
            }
            .hero-right{
                width: 70%;
                margin: 0 auto;

                .hero-bck{
                    width: 90%;
                }
            }

        }
    }
    .section_one{
        .section_one-wrapper{
            .one-wrapper{
                flex-direction: column-reverse;
                .one-left{
                    max-width: 100%;
                    img{
                        border-radius: 10px;
                    }
                }
                .one-right{
                    max-width: 100%;
                     margin-bottom: 20px;
                     border-radius: 10px;
                     padding: 40px;
                     display: flex;
                     align-items: center;
                     flex-direction: column;
                     text-align: center;
                     p{
                       max-width: 100%;
                       margin-bottom: 20px;
                     }
                    .one-play{
                        max-width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                        left: 30%;
                        bottom: -0%;
                        
                       
                        .icon{
                            width: 50px;
                            height: 50px;
                            font-size: 20px;
                            
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:760px){

}
@media(max-width:660px){
 header{
    .header-container{
        .header-list{
            display: none;
        }
        .header-btn{
            padding: 18px 40px;
        }
    }
        .header-hero{
            padding: 20px 0;
             height: auto;
             display: flex;
             flex-direction: column-reverse;
             transform:translate(0 , 0px);
              .hero-left{
                width: 100%;
                margin-top: -80px;
                h2{
                    width: 100%;
                    font-size:30px;
                    line-height: 32px;
                    margin-bottom: 20px;
                }
                p{
                    width: 100%;
                    font-size: 15px;
                    line-height: 22px;
                    margin-bottom: 30px;
                }
            }
            .hero-right{
                width: 90%;
                margin: 0 auto;
                margin-top: -40px;
                .hero-bck{
                    width: 100%;
                }
                .hero-rasm{
                    width: 80%;
                }
            }

        }
    }
     .section_one{
        .section_one-wrapper{
            padding: 40px 0;
            .one-tetle{
                max-width: 100%;
                margin-bottom: 30px;
                h2{
                    width: 100%;
                    font-size: 30px;
                    line-height: 32px;
                }
                p{
                    width: 100%;
                    font-size: 18px;
                    line-height: 20px;
                }
            }
            .one-wrapper{
                flex-direction: column-reverse;
                .one-left{
                    max-width: 100%;
                    img{
                        border-radius: 10px;
                    }
                }
                .one-right{
                    max-width: 100%;
                     margin-bottom: 20px;
                     border-radius: 10px;
                     padding: 40px;
                     display: flex;
                     align-items: center;
                     flex-direction: column;
                     text-align: center;
                     p{
                       max-width: 100%;
                       font-size: 15px;
                       line-height: 20px;
                       margin-bottom: 20px;
                     }
                    .one-play{
                        max-width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                        left: 20%;
                        bottom: 10%;
                        
                        .icon{
                            width: 40px;
                            height: 40px;
                            font-size: 15px;
                            
                        }
                        h3{
                            font-size: 18px;
                            
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:560px){
  header{
    .header-container{
        .header-list{
            display: none;
        }
        .header-btn{
            padding: 18px 40px;
        }
    }
        .header-hero{
            padding: 20px 0;
             height: auto;
             display: flex;
             flex-direction: column-reverse;
             transform:translate(0 , 0px);
              .hero-left{
                width: 100%;
                margin-top: -110px;
                h2{
                    width: 100%;
                    font-size:30px;
                    line-height: 32px;
                    margin-bottom: 20px;
                }
                p{
                    width: 100%;
                    font-size: 15px;
                    line-height: 22px;
                    margin-bottom: 30px;
                }
            }
            .hero-right{
                width: 100%;
                margin: 0 auto;
                margin-top: -60px;
                .hero-bck{
                    width: 100%;
                }
                .hero-rasm{
                    width: 80%;
                }
            }

        }
    }
}