*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    border: 4px solid red;
}
header{
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
        .logo{
             display: flex;
             align-items: center;
             gap: 4px;
             color: #58A9A5;
             font-weight: 800;
             font-size: 35px;
             line-height:100%;
              &:hover{
              color: #404242;
              text-decoration: underline rgba(254, 198, 45, 1) ;
             } 
        }
        .header-list{
            display: flex;
             align-items: center;
             gap:45px; 
             .header-item{
                a{
                     font-weight: 400;
                     font-size: 25px;
                     line-height:100%;
                     color: #404242;
                      &:hover{
                      color: #58A9A5;
                       text-decoration: underline rgba(254, 198, 45, 1) ;
                     } 
                }
             }
        }
        .header-btn{
            padding: 21px 80px;
            background: #58A9A5;
            border: 1px solid #58A9A5;
            border-radius: 15px;
            font-weight: 500;
            font-size: 25px;
            line-height:100%;
            color: #FFFFFF;
            transition: all 0.5s ease-in-out;
             &:hover{
                    background: none;
                    border: 1px solid #58A9A5;
                    color: #58A9A5;
                    transform: scale(1.1px);
                    box-shadow: 10px 10px 10px 2px #3c2105;
                    transform: scale(1.1);
                }
        }
    }
    .header-hero{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        padding: 80px 0;
        .hero-left{
            width: 50%;
            h2{
               width: 674px; 
               font-weight: 800;
               font-size: 70px;
               line-height:100%;
               color: #1C2323;  
               margin-bottom: 30px;
            }
            p{
               width: 713px; 
               font-weight: 500;
               font-size: 30px;
               line-height:100%;
               color: #404242;  
               margin-bottom: 40px;
            }
             .button{
                padding: 12px 60px;
                font-weight: 700;
                font-size: 22px;
                border: 1px solid #58A9A5;
                background:#58A9A5;
                box-shadow: 0 0 5px #000;
                color: #fff;
                outline: none;
                cursor: progress;
                  &:hover{
                   background: none;
                   border: 1px solid #58A9A5;
                   color: #58A9A5;
               }
             }
        }
        .hero-right{
            width: 50%;
            height: 400px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .hero-bck{
                max-width: 75%;
                position: absolute;
                z-index: 1;

            }
            .hero-rasm{
                max-width: 60%;
                position: absolute;
                z-index: 2;

            }
        }
    }
}
.section_one{
    .section_one-wrapper{
        padding: 60px 0;
        .one-tetle{
            max-width: 560px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 50px;
             h2{
               font-weight: 800;
               font-size: 70px;
               line-height:100%;
               color: #1C2323;  
               margin-bottom: 20px;
            }
            p{
               font-weight: 500;
               font-size: 30px;
               line-height:100%;
               color: #404242;  

            }
        }
        .one-wrapper{
            display: flex;
            align-items: stretch;
    
          .one-left{
           max-width:65%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                overflow: hidden;
            }
          }
          .one-right{
            max-width: 35%;
            height: auto;
            padding: 30px 0;
            position: relative;
            flex: 1;
            background: #CCF0E6;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
             display: flex;
             align-items: center;
             flex-direction: column;
             justify-content: center;
              p{
               max-width: 328px;
               font-weight: 500;
               font-size: 20px;
               line-height:100%;
               color: #486958;
               margin-bottom: 27px;  

            }
            .one-play{
                 display: flex;
                 align-items: center;
                 gap: 51px;
                 position: absolute;
                 bottom:30px ;
                 left: -40px;
                 z-index: 4;
                
                .icon{
                    width: 70px;
                    height: 70px;
                    border-radius: 50px;
                    background: rgba(255, 255, 255, 0.4);
                    backdrop-filter: blur(5px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 30px;
                    box-shadow: 0 8px 25px  rgba(0, 0, 0, 0.2);
                     transition: 0.3 ease;
                     cursor: pointer;
                    &:hover{
                        background: #fff;
                        transform: scale(1.1);
                         box-shadow: 0 15px 30px  rgba(0, 0, 0, 0.15);
                    }
                }
                   h3{
                    font-weight: 500;
                    font-size: 20px;
                    line-height:100%;
                    color: #486958;
                    }
                 }
          }
        }
        
    }
}
.section_two{
    .section_two-wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 80px 0;
        gap: 40px;
        .two-left{
            max-width: 48%;
            img{
                max-width: 100%;
            }
        }
        .two-right{
            max-width: 48%;
             h2{
               max-width: 487px;
               font-weight: 700;
               font-size: 40px;
               line-height:100%;
               letter-spacing: 0%;
               color: #1C2323;  
               margin-top: 30px;
               margin-bottom: 60px;
            }
            p{
               max-width: 708px;
               font-weight: 500;
               font-size: 30px;
               line-height:100%;
               letter-spacing: 1px;
               color:#486958;  

            }
        }
    }
}
.section_three{
    .section_three-wrapper{
        padding: 80px 0;
        .three-title{
            max-width: 560px;
            margin: 0 auto;
            text-align: center;
             h2{
               font-weight: 800;
               font-size: 70px;
               line-height:100%;
               color: #1C2323;  
               margin-bottom: 20px;
            }
            p{
               font-weight: 500;
               font-size: 30px;
               line-height:100%;
               color: #404242; 
               margin-bottom: 25px; 

            }
            .three-line{
                display: inline-block;
                position: relative;
                 width: 140px;
                &::before{
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                    top: 0;
                    width: 100%;
                    height: 6px;
                    background:  #58A9A5;
                }
                &::after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                    top: 8px;
                    width: 100%;
                    height: 6px;
                    background: #58A9A5;
                    margin-top: 10px;
                }
            }
        }
        .three-list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            margin-top: 90px;
            .three-item{
                max-width: 33%;
                display: flex;
                align-items: stretch;
                flex-direction: column;
                   h3{
                      font-weight: 700;
                      font-size: 40px;
                      line-height:100%;
                      color: #58A9A5;  
                      margin-bottom: 10px;
                   }
                   p{
                      font-weight: 500;
                      font-size: 20px;
                      line-height:100%;
                      color: #486958; 
       
                   }
                  .three-rasm{
                    max-width: 100%;
                    margin-top: 35px;
                  }
                  .three-rasms{
                    max-width: 100%;
                    margin-bottom: 35px;
                  }
            }
            .three-items{
                max-width: 33%;
                display: flex;
                align-items: stretch;
                flex-direction: column;
                   h3{
                      font-weight: 700;
                      font-size: 40px;
                      line-height:100%;
                      color: #58A9A5;  
                      margin-bottom: 10px;
                   }
                   p{
                      font-weight: 500;
                      font-size: 20px;
                      line-height:100%;
                      color: #486958; 
       
                   }
                  .three-rasm{
                    max-width: 100%;
                    margin-top: 35px;
                  }
                  .three-rasms{
                    max-width: 100%;
                    margin-bottom: 35px;
                  }
            }
        }
    }
}
.section_four{
    padding: 60px 0;
    .section_four-wrapper{
      margin-bottom: 96px;
      max-width: 435px;
      margin: 0 auto;
      text-align: center;
          h2{
               font-weight: 800;
               font-size: 70px;
               line-height:100%;
               color: #1C2323;  
            }
    }
    marquee{
    .four-images{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
       img{
        width: 10%;
       }
        
    }

    }
}
.section_five{
    .section_five-wrapper{
      padding: 60px 0;
      display: flex;
      align-items: stretch;
      .five-left{
        max-width: 40%;
        overflow: hidden;
        height: auto;
      }
      .five-right{
        max-width: 60%;
        height: auto;
        padding: 50px 120px;
        background: #CCF0E6;
        flex: 1;
        .five-list{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 30px;
            margin-bottom: 100px;
            .five-item{
                width: 33%;
               h2{
               font-weight: 800;
               font-size: 60px;
               line-height:100%;
               color:#58A9A5; 
               margin: 0;
               .span{
                display: block;
                   width: 169px;
                   font-weight: 600;
                   font-size: 24px;
                   line-height:120%;
                   color:#58A9A5; 
               } 
            }
            }
           
        }
        
      }
    
    }
}







@media(max-width:1110px){
    header{
        .header-hero{
            transform: translate(50px);
            .hero-left{
                width: 50%;
            }
            .hero-right{
                width: 50%;
            }

        }
    }
}
@media(max-width:1060px){
  header{
        .header-hero{
            transform: translate(50px);
            .hero-left{
                width: 50%;
                h2{
                    width: 660px;
                }
                p{
                    width: 700px;
                }
            }
            .hero-right{
                width: 50%;
                .hero-bck{
                    width: 90%;
                }
            }

        }
    }
    .section_one{
        .section_one-wrapper{
            .one-wrapper{
                .one-right{
                    .one-play{
                        bottom: 10px;
                    }
                }
            }
        }
    }
}
@media(max-width:990px){
   header{
    .header-container{
        .header-list{
            gap: 20px;
        }
        .header-btn{
            padding: 18px 40px;
        }
    }
        .header-hero{
            padding: 30px 0;
             height: auto;
             display: flex;
             flex-direction: column-reverse;
             transform:translate(0 , 0px);
              .hero-left{
                width: 100%;
                margin-top: -40px;
                h2{
                    width: 100%;
                }
                p{
                    width: 100%;
                }
            }
            .hero-right{
                width: 70%;
                margin: 0 auto;

                .hero-bck{
                    width: 90%;
                }
            }

        }
    }
    .section_two{
        .section_two-wrapper{
            align-items: center;
            .two-right{
                h2{
                    margin-top: 0px;
                    margin-bottom: 30px;
                }
                p{
                    letter-spacing: 0%;
                }
            }
        }
    }
}
@media(max-width:860px){
 header{
    .header-container{
        .header-list{
            display: none;
        }
        .header-btn{
            padding: 18px 40px;
        }
    }
        .header-hero{
            padding: 20px 0;
             height: auto;
             display: flex;
             flex-direction: column-reverse;
             transform:translate(0 , 0px);
              .hero-left{
                width: 100%;
                margin-top: -70px;
                h2{
                    width: 100%;
                    font-size: 58px;
                    line-height: 60px;
                }
                p{
                    width: 100%;
                }
            }
            .hero-right{
                width: 70%;
                margin: 0 auto;

                .hero-bck{
                    width: 90%;
                }
            }

        }
    }
    .section_one{
        .section_one-wrapper{
            .one-wrapper{
                flex-direction: column-reverse;
                .one-left{
                    max-width: 100%;
                    img{
                        border-radius: 10px;
                    }
                }
                .one-right{
                    max-width: 100%;
                     margin-bottom: 20px;
                     border-radius: 10px;
                     padding: 40px;
                     display: flex;
                     align-items: center;
                     flex-direction: column;
                     text-align: center;
                     p{
                       max-width: 100%;
                       margin-bottom: 20px;
                     }
                    .one-play{
                        max-width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                        left: 30%;
                        bottom: -0%;
                        
                       
                        .icon{
                            width: 50px;
                            height: 50px;
                            font-size: 20px;
                            
                        }
                    }
                }
            }
        }
    }
     .section_two{
        .section_two-wrapper{
            flex-direction: column-reverse;
            .two-left{
                max-width: 50%;
            }
            .two-right{
                max-width: 100%;
                h2{
                   max-width: 100%;
                    margin-bottom: 20px;
                }
                p{
                   max-width: 100%;
                }
            }
        }
    }
    .section_three{
        .section_three-wrapper{
            .three-list{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
               
                .three-item{
                    max-width: 100%;
                    .three-rasm{
                        width: 80%;
                    }
                    .three-rasms{
                        width: 80%;
                    }
                }
                .three-items{
                    max-width: 100%;
                    .three-rasm{
                        width: 80%;
                    }
                    .three-rasms{
                        width: 80%;
                    }
                }
            }
        }
    }
}
@media(max-width:760px){
  .section_three{
        .section_three-wrapper{
            .three-list{
                display: grid;
                grid-template-columns:1fr;
                gap: 30px;
                .three-item{
                    max-width: 100%;
                    .three-rasm{
                        max-width: 50%;
                         text-align: center;
                         margin: 0 auto;
                    }
                    h3{
                        margin-bottom: 20px;
                    }
                    p{
                        max-width: 100%;
                        margin-bottom: 20px;
                    }
                }
                .three-items{
                    max-width: 100%;
                    flex-direction: column-reverse;
                   
                    .three-rasms{
                        max-width: 50%;
                        text-align: center;
                        margin: 0 auto;
                    }
                    h3{
                       margin-bottom: 20px;
                    }
                    p{
                        max-width: 100%;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
@media(max-width:660px){
 header{
    .header-container{
        .header-list{
            display: none;
        }
        .header-btn{
            padding: 18px 40px;
        }
    }
        .header-hero{
            padding: 20px 0;
             height: auto;
             display: flex;
             flex-direction: column-reverse;
             transform:translate(0 , 0px);
              .hero-left{
                width: 100%;
                margin-top: -80px;
                h2{
                    width: 100%;
                    font-size:30px;
                    line-height: 32px;
                    margin-bottom: 20px;
                }
                p{
                    width: 100%;
                    font-size: 15px;
                    line-height: 22px;
                    margin-bottom: 30px;
                }
            }
            .hero-right{
                width: 90%;
                margin: 0 auto;
                margin-top: -40px;
                .hero-bck{
                    width: 100%;
                }
                .hero-rasm{
                    width: 80%;
                }
            }

        }
    }
     .section_one{
        .section_one-wrapper{
            padding: 40px 0;
            .one-tetle{
                max-width: 100%;
                margin-bottom: 30px;
                h2{
                    width: 100%;
                    font-size: 30px;
                    line-height: 32px;
                }
                p{
                    width: 100%;
                    font-size: 18px;
                    line-height: 20px;
                }
            }
            .one-wrapper{
                flex-direction: column-reverse;
                .one-left{
                    max-width: 100%;
                    img{
                        border-radius: 10px;
                    }
                }
                .one-right{
                    max-width: 100%;
                     margin-bottom: 20px;
                     border-radius: 10px;
                     padding: 40px;
                     display: flex;
                     align-items: center;
                     flex-direction: column;
                     text-align: center;
                     p{
                       max-width: 100%;
                       font-size: 15px;
                       line-height: 20px;
                       margin-bottom: 20px;
                     }
                    .one-play{
                        max-width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                        left: 20%;
                        bottom: 10%;
                        
                        .icon{
                            width: 40px;
                            height: 40px;
                            font-size: 15px;
                            
                        }
                        h3{
                            font-size: 18px;
                            
                        }
                    }
                }
            }
        }
    }
    .section_two{
        .section_two-wrapper{
            flex-direction: column-reverse;
            padding: 40px 0;
            .two-left{
                max-width: 70%;
                margin-top: -20px;
                margin: 0 auto;
            }
            .two-right{
                max-width: 100%;
                h2{
                    max-width: 100%;
                    font-size: 30px;
                    line-height: 32px;
                }
                p{
                   max-width: 100%;
                   font-size: 15px;
                   line-height: 22px;
                }
            }
        }
    }
    .section_three{
        .section_three-wrapper{
            padding: 40px 0;
            .three-title{
                  max-width: 100%;
                 margin-bottom: 30px;
                h2{
                    width: 100%;
                    font-size: 30px;
                    line-height: 32px;
                
                }
                p{
                    width: 100%;
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 20px;
                }
                .three-line{
                    max-width: 100%;
                }
            }
            .three-list{
                display: grid;
                grid-template-columns:1fr;
                gap: 30px;
                 margin-top: 50px;
                .three-item{
                    max-width: 100%;
                    .three-rasm{
                        max-width: 50%;
                         text-align: center;
                         margin: 0 auto;
                    }
                    h3{
                        margin-bottom: 20px;
                        font-size: 28px;
                        line-height: 30px;
                    }
                    p{
                        max-width: 100%;
                        margin-bottom: 20px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                .three-items{
                    max-width: 100%;
                    flex-direction: column-reverse;
                   
                    .three-rasms{
                        max-width: 50%;
                        text-align: center;
                        margin: 0 auto;
                    }
                    h3{
                       margin-bottom: 20px;
                    }
                    p{
                        max-width: 100%;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .section_four{
        .section_four-wrapper{
            max-width: 100%;
            h2{
              font-size: 30px;
              line-height: 32px;
            }  
        }
        marquee{
         .four-images{
            img{
                width: 20%;
            }
         }
        }
    }
}
@media(max-width:560px){
  header{
    .header-container{
        .header-list{
            display: none;
        }
        .header-btn{
            padding: 18px 40px;
        }
    }
        .header-hero{
            padding: 20px 0;
             height: auto;
             display: flex;
             flex-direction: column-reverse;
             transform:translate(0 , 0px);
              .hero-left{
                width: 100%;
                margin-top: -110px;
                h2{
                    width: 100%;
                    font-size:30px;
                    line-height: 32px;
                    margin-bottom: 20px;
                }
                p{
                    width: 100%;
                    font-size: 15px;
                    line-height: 22px;
                    margin-bottom: 30px;
                }
            }
            .hero-right{
                width: 100%;
                margin: 0 auto;
                margin-top: -60px;
                .hero-bck{
                    width: 100%;
                }
                .hero-rasm{
                    width: 80%;
                }
            }

        }
    }
}